@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  :root {
    --background: 262.1 100% 95%;
    --foreground: 262.1 5% 0%;
    --card: 262.1 50% 90%;
    --card-foreground: 262.1 5% 10%;
    --popover: 262.1 100% 95%;
    --popover-foreground: 262.1 100% 0%;
    --primary: 262.1 88.3% 57.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262.1 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 224.10000000000002 30% 85%;
    --muted-foreground: 262.1 5% 35%;
    --accent: 224.10000000000002 30% 80%;
    --accent-foreground: 262.1 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 262.1 5% 90%;
    --border: 262.1 30% 50%;
    --input: 262.1 30% 18%;
    --ring: 262.1 88.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 262.1 50% 5%;
    --foreground: 262.1 5% 90%;
    --card: 262.1 50% 0%;
    --card-foreground: 262.1 5% 90%;
    --popover: 262.1 50% 5%;
    --popover-foreground: 262.1 5% 90%;
    --primary: 262.1 88.3% 57.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262.1 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 224.10000000000002 30% 15%;
    --muted-foreground: 262.1 5% 60%;
    --accent: 224.10000000000002 30% 15%;
    --accent-foreground: 262.1 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 262.1 5% 90%;
    --border: 262.1 30% 18%;
    --input: 262.1 30% 18%;
    --ring: 262.1 88.3% 57.8%;
    --radius: 0.5rem;
  }

}

.monaco-editor {
  border-radius: 10px;
}

.overflow-guard {
  border-radius: 10px;
}


.slider {
  border-radius: 10px;
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .animate-appear {
    animation: appear 0.5s ease-out;
  }

  @keyframes appear {
    from {
      opacity: 0;
      transform: scale(0.8);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.animate-fade-in-down {
  animation: fadeInDown 1s ease-out;
}

.animate-fade-in-up {
  animation: fadeInUp 1s ease-out;
}

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}