---
import SEO from '@/components/SEO.astro';
import { ClientRouter } from 'astro:transitions';

type Props = {
	title?: string;
	description?: string;
	ogImage?: URL;
}

const props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO {...props}/>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>{Astro.props.title} - CC Pro</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
  }
</style>

<script>
  (function () {
    const darkMode = localStorage.getItem("darkMode");
    if (darkMode === "true") {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
  })();
</script>
